<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav><div id="test">skldjfklj</div>
<jqxButton #refreshButton (onClick)="refreshBtnOnClick()">Refresh Data</jqxButton>
<jqxButton (onClick)="clearBtnOnClick()">Clear</jqxButton>
<br/>
<router-outlet></router-outlet>
Options: <jqxDropDownList #myDropDownList (onSelect)="listOnSelect($event)"
    [width]="200" [height]="30" [source]="sourceListBox" [checkboxes]="true"
    [displayMember]="'ContactName'" [valueMember]="'CompanyName'">
</jqxDropDownList>
<jqxNotification #popover 
[width]="250" [position]="'top-left'" [opacity]="0.9" [autoOpen]="false"
[autoClose]="false" [animationOpenDelay]="800" [autoCloseDelay]="11000" [template]="'error'">
</jqxNotification>
<div #loadedText></div>
<div #notificationText></div>
<jqxTabs #myTabs (onSelected)="myTabsOnSelected($event)" 
    [height]="50" [width]="getWidth()" [reorder]="true" [enableDropAnimation]="false">
    <ul style="margin-left: 30px">
      <li>Node.js</li>
      <li>JavaServer Pages</li>
      <li>Active Server Pages</li>
  </ul>    <div>
</div>
<div>
</div>
<div>
</div>
  </jqxTabs>

<jqxGrid #myGrid [theme]="'material'"
    [width]="getWidth()" [source]="dataAdapter" [columns]="columns" 
    [filterable]="true" [sortable]="true" [columnsresize]="true"
    [autoshowfiltericon]="true" [filtermode]="'excel'">
</jqxGrid> 
<div style="margin-top: 20px">
    <div style="float: left">
      <jqxButton (onClick)="excelBtnOnClick()">Export to Excel</jqxButton>
      <br /><br />
      <jqxButton (onClick)="xmlBtnOnClick()">Export to XML</jqxButton>
    </div>
    <div style="float: left; margin-left: 10px">
      <jqxButton (onClick)="csvBtnOnClick()">Export to CSV</jqxButton>
      <br /><br />
      <jqxButton (onClick)="tsvBtnOnClick()">Export to TSV</jqxButton>
    </div>
    <div style="float: left; margin-left: 10px">
      <jqxButton (onClick)="htmlBtnOnClick()">Export to HTML</jqxButton>
      <br /><br />
      <jqxButton (onClick)="jsonBtnOnClick()">Export to JSON</jqxButton>
    </div>
    <div style="float: left; margin-left: 10px">
      <jqxButton (onClick)="pdfBtnOnClick()">Export to PDF</jqxButton>
    </div>
  </div>